@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary-dark);
  font-family: "Roboto Slab", Courier, monospace;
}

body {
  background: var(--background-color);
}

.container {
  width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

:root {
  --background-color: #212121;
  --primary-color: #86c232;
  --secondary-color: #69812f;
}

header-section {
  padding: 1.5em 0px 1.5em 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  height: 60px;
  width: 60px;
  margin-top: -10px;
  color: #fff;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo div p {
  font-size: 45px;
  position: relative;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

nav .logo div span {
  font-size: 25px;
}

nav .nav-tags {
  width: 40%;
}

nav .nav-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

nav .nav-tags ul li a {
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 3px;
  padding-bottom: 2px;
  color: #fff;
}

nav .nav-tags ul li a:hover,
nav .nav-tags ul li a:focus {
  border-bottom: 3px solid lightcoral;
  cursor: pointer;
}

.poster-section {
  height: 60vh;
  margin-top: 1.5em;
  color: #fff;
}

.poster-section .container {
  height: inherit;
}

.poster-section .poster-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  height: inherit;
}

.poster-section .poster-grid .poster-text {
  text-align: justify;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.poster-section .poster-grid .poster-text h1 {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 1.5em;
}

.poster-section .poster-grid .poster-text h4 {
  padding: 10px 10px 10px 20px;
  font-size: 30px;
  line-height: 1.8em;
}

.poster-section .poster-grid .poster-text a {
  color: var(--secondary-color);
}

.poster-section .poster-grid .poster-img {
  height: inherit;
  overflow: hidden;
}

.poster-section .poster-grid .poster-img img {
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-section {
  margin-top: 2em;
  height: 20em;
}

.cards-section .container {
  height: inherit;
}

.cards-section .cards-grid {
  height: inherit;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-section .cards {
  background: var(--background-color);
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 100%;
  height: 80%;
  margin: 0px 0px 0px 20px;
  line-height: 5em;
}

.cards-section .cards i {
  padding: 20px 10px 0px;
}

.cards-section .cards h1 {
  font-size: 30px;
}

.cards-section .cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */